{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Fleet Manager admin portal" />
    <meta name="keywords" content="fleet, inspections, admin" />
    <title>{% block title %}Fleet Manager Admin{% endblock %}</title>

    <link rel="icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/vendors/icofont.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/vendors/themify.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/vendors/flag-icon.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/vendors/feather-icon.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/vendors/slick.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/vendors/slick-theme.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/vendors/scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/vendors/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/vendors/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link id="color" rel="stylesheet" href="{% static 'assets/css/color-1.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}" />

    {% block extra_head %}{% endblock %}
  </head>
  <body data-active-tab="{{ active_tab|default:'overview' }}">
    <div class="loader-wrapper">
      <div class="loader">
        <div class="loader4"></div>
      </div>
    </div>
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>

    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <div class="page-header">
        <div class="header-wrapper row m-0">
          <div class="header-logo-wrapper col-auto p-0">
            <div class="logo-wrapper">
              <a href="{% url 'portal-admin' %}">
                <img class="img-fluid for-light" src="{% static 'assets/images/logo/logo_dark.png' %}" alt="logo" />
                <img class="img-fluid for-dark" src="{% static 'assets/images/logo/logo.png' %}" alt="logo" />
              </a>
            </div>
            <div class="toggle-sidebar">
              <i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i>
            </div>
          </div>
          <div class="left-header col-xl-4 col-lg-5 col-md-4 col-sm-3 p-0">
            <div class="d-flex align-items-center gap-3">
              <h4 class="f-w-600 mb-0">Welcome back{% if profile and profile.user.first_name %}, {% endif %}{% if profile %}{{ profile.user.get_full_name|default:profile.user.username }}{% else %}{{ request.user.get_full_name|default:request.user.username }}{% endif %}</h4>
              <img class="mt-0" src="{% static 'assets/images/hand.gif' %}" alt="wave" />
            </div>
            <div class="welcome-content d-xl-block d-none">
              <span class="text-truncate col-12">Use the navigation to manage customers, vehicles, inspections, and more.</span>
            </div>
          </div>
          <div class="nav-right col-xl-7 col-lg-6 col-md-8 col-9 ms-auto p-0">
            <ul class="nav-menus">
              <li class="d-md-block d-none">
                <div class="form search-form mb-0">
                  <div class="input-group">
                    <span class="input-icon">
                      <svg>
                        <use href="{% static 'assets/svg/icon-sprite.svg' %}#search-header"></use>
                      </svg>
                      <input class="w-100" type="search" placeholder="Search" />
                    </span>
                  </div>
                </div>
              </li>
              <li>
                <div class="mode"><i class="moon" data-feather="moon"></i></div>
              </li>
              <li class="profile-nav onhover-dropdown">
                <div class="media profile-media">
                  <img class="b-r-10" src="{% static 'assets/images/dashboard/profile.png' %}" alt="profile" />
                  <div class="media-body d-xxl-block d-none box-col-none">
                    <div class="d-flex align-items-center gap-2">
                      <span>{% if profile %}{{ profile.user.get_full_name|default:profile.user.username }}{% else %}{{ request.user.get_full_name|default:request.user.username }}{% endif %}</span>
                      <i class="middle fa fa-angle-down"></i>
                    </div>
                    <p class="mb-0 font-roboto">Admin</p>
                  </div>
                </div>
                <ul class="profile-dropdown onhover-show-div">
                  <li><a href="{% url 'portal-admin' %}"><i data-feather="home"></i><span>Dashboard</span></a></li>
                  <li><a href="{% url 'logout' %}"><i data-feather="log-out"></i><span>Log Out</span></a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="page-body-wrapper">
        <div class="sidebar-wrapper" data-layout="stroke-svg">
          <div class="logo-wrapper">
            <a href="{% url 'portal-admin' %}"><img class="img-fluid" src="{% static 'assets/images/logo/logo.png' %}" alt="logo" /></a>
            <div class="back-btn"><i class="fa fa-angle-left"></i></div>
            <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"></i></div>
          </div>
          <div class="logo-icon-wrapper">
            <a href="{% url 'portal-admin' %}"><img class="img-fluid" src="{% static 'assets/images/logo/logo-icon.png' %}" alt="logo icon" /></a>
          </div>
          <nav class="sidebar-main">
            <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
            <div id="sidebar-menu">
              <ul class="sidebar-links" id="simple-bar">
                <li class="sidebar-main-title"><div><h6>Navigation</h6></div></li>
                <li class="sidebar-list">
                  <a
                    class="sidebar-link link-nav"
                    href="?tab=overview"
                    data-portal-tab="overview"
                  >
                    <svg class="stroke-icon"><use href="{% static 'assets/svg/icon-sprite.svg' %}#stroke-home"></use></svg>
                    <svg class="fill-icon"><use href="{% static 'assets/svg/icon-sprite.svg' %}#fill-home"></use></svg>
                    <span>Overview</span>
                  </a>
                </li>
                <li class="sidebar-list">
                  <a
                    class="sidebar-link link-nav"
                    href="?tab=customers"
                    data-portal-tab="customers"
                    data-portal-url="{% url 'portal-customers' %}"
                  >
                    <svg class="stroke-icon"><use href="{% static 'assets/svg/icon-sprite.svg' %}#stroke-users"></use></svg>
                    <svg class="fill-icon"><use href="{% static 'assets/svg/icon-sprite.svg' %}#fill-users"></use></svg>
                    <span>Customers</span>
                  </a>
                </li>
                <li class="sidebar-list">
                  <a
                    class="sidebar-link link-nav"
                    href="?tab=vehicles"
                    data-portal-tab="vehicles"
                    data-portal-url="{% url 'portal-vehicles' %}"
                  >
                    <svg class="stroke-icon"><use href="{% static 'assets/svg/icon-sprite.svg' %}#stroke-widget"></use></svg>
                    <svg class="fill-icon"><use href="{% static 'assets/svg/icon-sprite.svg' %}#fill-widget"></use></svg>
                    <span>Vehicles</span>
                  </a>
                </li>
                <li class="sidebar-list">
                  <a
                    class="sidebar-link link-nav"
                    href="?tab=assignments"
                    data-portal-tab="assignments"
                    data-portal-url="{% url 'portal-assignments' %}"
                  >
                    <svg class="stroke-icon"><use href="{% static 'assets/svg/icon-sprite.svg' %}#stroke-task"></use></svg>
                    <svg class="fill-icon"><use href="{% static 'assets/svg/icon-sprite.svg' %}#fill-task"></use></svg>
                    <span>Assignments</span>
                  </a>
                </li>
                <li class="sidebar-list">
                  <a
                    class="sidebar-link link-nav"
                    href="?tab=inspections"
                    data-portal-tab="inspections"
                    data-portal-url="{% url 'portal-inspections' %}"
                  >
                    <svg class="stroke-icon"><use href="{% static 'assets/svg/icon-sprite.svg' %}#stroke-dashboard"></use></svg>
                    <svg class="fill-icon"><use href="{% static 'assets/svg/icon-sprite.svg' %}#fill-dashboard"></use></svg>
                    <span>Inspections</span>
                  </a>
                </li>
                <li class="sidebar-list">
                  <a
                    class="sidebar-link link-nav"
                    href="?tab=inspectors"
                    data-portal-tab="inspectors"
                    data-portal-url="{% url 'portal-inspectors' %}"
                  >
                    <svg class="stroke-icon"><use href="{% static 'assets/svg/icon-sprite.svg' %}#stroke-team"></use></svg>
                    <svg class="fill-icon"><use href="{% static 'assets/svg/icon-sprite.svg' %}#fill-team"></use></svg>
                    <span>Inspectors</span>
                  </a>
                </li>
                <li class="sidebar-list">
                  <a
                    class="sidebar-link link-nav"
                    href="?tab=categories"
                    data-portal-tab="categories"
                    data-portal-url="{% url 'portal-categories' %}"
                  >
                    <svg class="stroke-icon"><use href="{% static 'assets/svg/icon-sprite.svg' %}#stroke-ui"></use></svg>
                    <svg class="fill-icon"><use href="{% static 'assets/svg/icon-sprite.svg' %}#fill-ui"></use></svg>
                    <span>Checklist</span>
                  </a>
                </li>
                <li class="sidebar-list">
                  <a
                    class="sidebar-link link-nav"
                    href="?tab=users"
                    data-portal-tab="users"
                    data-portal-url="{% url 'portal-users' %}"
                  >
                    <svg class="stroke-icon"><use href="{% static 'assets/svg/icon-sprite.svg' %}#stroke-profile"></use></svg>
                    <svg class="fill-icon"><use href="{% static 'assets/svg/icon-sprite.svg' %}#fill-profile"></use></svg>
                    <span>Portal Users</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
          </nav>
        </div>

        <div class="page-body">
          <div class="container-fluid">
            {% if messages %}
              <div class="row">
                <div class="col-12">
                  {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}

            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>

    <div id="portalLoader" class="htmx-indicator position-fixed top-50 start-50 translate-middle">
      <div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
    </div>

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/icons/feather-icon/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/icons/feather-icon/feather-icon.js' %}"></script>
    <script src="{% static 'assets/js/config.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>

    <script>
      feather.replace();

      function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
        return '';
      }

      function setActiveTab(tab) {
        document.querySelectorAll('[data-portal-tab]').forEach((link) => {
          if (link.dataset.portalTab === tab) {
            link.classList.add('active');
            link.closest('li')?.classList.add('active');
          } else {
            link.classList.remove('active');
            link.closest('li')?.classList.remove('active');
          }
        });
        document.body.dataset.activeTab = tab;
      }

      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = getCookie('csrftoken');
        event.detail.target = event.detail.target || '#portalContent';
        event.detail.verb = event.detail.verb || 'GET';
        event.detail.indicator = '#portalLoader';
        const tabAttr = event.detail.requestConfig.elt?.dataset?.portalTabTarget;
        if (tabAttr) {
          event.detail.headers['X-Portal-Tab'] = tabAttr;
        }
      });

      document.body.addEventListener('htmx:afterSwap', (event) => {
        const tabAttr = event.detail.requestConfig.elt?.dataset?.portalTab || event.detail.requestConfig.headers['X-Portal-Tab'];
        if (tabAttr) {
          setActiveTab(tabAttr);
          const url = new URL(window.location.href);
          url.searchParams.set('tab', tabAttr);
          history.replaceState({}, '', url);
        }
      });

      document.querySelectorAll('[data-portal-tab][data-portal-url]').forEach((link) => {
        link.addEventListener('click', (event) => {
          event.preventDefault();
          const tab = link.dataset.portalTab;
          const url = link.dataset.portalUrl;
          if (!url) {
            setActiveTab(tab);
            const nextUrl = new URL(window.location.href);
            nextUrl.searchParams.set('tab', tab);
            history.replaceState({}, '', nextUrl);
            return;
          }
          htmx.ajax('GET', url, { target: '#portalContent', swap: 'innerHTML', indicator: '#portalLoader', headers: { 'X-Portal-Tab': tab } });
        });
      });

      document.addEventListener('DOMContentLoaded', () => {
        const initialTab = document.body.dataset.activeTab || 'overview';
        if (initialTab !== 'overview') {
          const navLink = document.querySelector(`[data-portal-tab="${initialTab}"][data-portal-url]`);
          if (navLink) {
            htmx.ajax('GET', navLink.dataset.portalUrl, {
              target: '#portalContent',
              swap: 'innerHTML',
              indicator: '#portalLoader',
              headers: { 'X-Portal-Tab': initialTab },
            });
          }
        } else {
          setActiveTab('overview');
        }
      });
    </script>
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
