{% extends "portal/base.html" %}
{% block title %}Forbidden · Fleet Manager Admin{% endblock %}
{% block content %}
<div class="row">
  <div class="col-xl-8">
    <div class="card">
      <div class="card-body text-center p-5">
        <img class="img-80 mb-3" src="{% static 'assets/images/other-images/sad.png' %}" alt="forbidden" />
        <h5 class="mb-2">You don't have permission to access the admin portal.</h5>
        <p class="f-light mb-4">Please contact an administrator to request access or switch to an admin account.</p>
        <div class="d-flex justify-content-center gap-2">
          <a class="btn btn-primary" href="{% url 'portal-admin' %}">Back to Dashboard</a>
          <a class="btn btn-outline-secondary" href="{% url 'logout' %}">Log out</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
